<!doctype html>

<style>

#Form_Wrapper {
    align-content: center;
    width: 300px;
    height: auto;
}

.large-block {
    margin-bottom: 25px;
}
.small-block {
    margin: 5px;
    margin-bottom: 10px;
}

.small-block input {
    float: right;
}
</style>

<html>
    <body>
        <form action='/' method="post">
            <div class="large-block" id="Form_Wrapper">
                <div id="Recipe_Name_Wrapper" class="small-block">
                    <label for="Recipe_Name">Recipe Name</label>
                    <input id="Recipe_Name" name="name">
                </div>
                <div id="Cook_Time_Wrapper" class="small-block">
                    <label for="Cook_Time">Cook Time</label>
                    <input id="Cook_Time" name="cook_time">
                </div>
                <div id="Difficulty_Wrapper" class="small-block">
                    <label for="Difficulty">Difficulty (1-5)</label>
                    <input id="Difficulty" name="difficulty">
                </div>
                <div id="Rating_Wrapper" class="small-block">
                    <label for="Rating">Rating (1-5)</label>
                    <input id="Rating" name="rating">
                </div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
