<!doctype html>


<html>
<head>
    <link rel = "stylesheet"
          type = "text/css"
          href = "{{url_for('static', filename='main.css')}}" />
</head>
<div id="Global_Header">
    <img src="{{url_for('static', filename='db_logo.png')}}" />
    <form action='/' method="post" id="Back_Button">
        <button id="Go_Home_Button" name="submit_forward" value="home">Go Back</button>
    </form>
</div>
<body>
    <div class="large-block" id="Recipe_Details_Wrapper">
        <div class="small-block" id="Recipe_Name" style="display: flex;">
            <h2>{{recipe[0][0][0].capitalize()}}</h2>
            <!--<div style="padding-right: 10px;">&nbsp;</div>-->
            <!--<form action='/' method="post" id="Delete_Button_Wrapper">-->
                <!--<button id="Delete_Button" name="submit_forward" value="recipeDelete">Delete</button>-->
            <!--</form>-->
        </div>
        <hr/>
        <div class="row">&nbsp;</div>
        <div class="small-block" id="Recipe_CookTime">
            <strong>Cook Time: </strong>{{recipe[0][0][1]}}
        </div>
        <div class="small-block" id="Recipe_Difficulty">
            <strong>Difficulty: </strong>{{recipe[0][0][2]}}
        </div>
        <div class="small-block" id="Recipe_Protein">
            {% if recipe[1]|length > 0 %}
                <strong>Protein: </strong>{{recipe[1][0][1].capitalize()}} : {{recipe[1][0][2]}} oz.
            {% else %}
                <strong>Protein: </strong> No Protein
            {% endif %}
        </div>
        <div class="small-block" id="Recipe_Vegetable">
            {% if recipe[2]|length > 0 %}
                <strong>Vegetable: </strong>{{recipe[2][0][1].capitalize()}} : {{recipe[2][0][2]}} oz.
            {% else %}
                <strong>Vegetable: </strong> No Vegetable
            {% endif %}
        </div>
        <div class="small-block" id="Recipe_Starch">
            {% if recipe[3]|length > 0 %}
                <strong>Starch: </strong>{{recipe[3][0][1].capitalize()}} : {{recipe[3][0][2]}} oz.
            {% else %}
                <strong>Starch: </strong> No Starch
            {% endif %}
        </div>
        <div class="small-block" id="Recipe_Equipment">
            {% if recipe[4]|length > 0 %}
                <strong>Equipment: </strong>{{recipe[4][0][1].capitalize()}}
            {% else %}
                <strong>Equipment: </strong> No Equipment Needed
            {% endif %}
        </div>
        <div class="small-block" id="Recipe_Instructions">
            {% if recipe[4]|length > 0 %}
                <p><strong>Instructions: </strong>{{recipe[5][0][1]}}</p>
            {% else %}
                <p><strong>Instructions: </strong>Figure it out</p>
            {% endif %}
        </div>


    </div>

    <h3 class="centerMe">Reviews</h3>
    <div class="grid-container" id="Recipe_Reviews">
        {% if reviews|length > 0 %}
            {% for review in reviews %}
                <span class="large-block review-item grid-item">
                    Author: <span>{{review[1].capitalize()}}</span><br/>
                    Rating: <span>{{review[3]}}</span><br/>
                    Text: <span>{{review[2]}}</span>
                </span>
            {% endfor %}
        {% else %}
            <p>No Reviews for this Recipe</p>
        {% endif %}
    </div>
    <div class="row">&nbsp;</div>
    <hr>
    <h3 class="centerMe">Leave a Review</h3>
    <div class="row">&nbsp;</div>
    <form action='/' method="post">
        <div class="large-block" id="Recipe_Form">
            <div class="small-block" id="Review_Author_Wrapper">
                <label for="Review_Author">Author: </label>
                <input type="text" id="Review_Author" name="reviewAuthor">
            </div>
            <div class="row">&nbsp;</div>
            <div class="small-block" id="Review_Rating_Wrapper">
                <label for="Review_Rating">Recipe Rating: </label>
                <select name="reviewRating" id="Review_Rating">
                    <option value="none" disabled selected> -- Please Select a Rating -- </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="row">&nbsp;</div>
            <div class="small-block" id="Review_Text_Wrapper">
                <label for="Review_Text">Review Text: </label>
                <textarea name="reviewText" id="Review_Text" rows="5">none</textarea>
            </div>
            <div class="row">&nbsp;</div>
                <div class="small-block">
                    <button id="Review_Button" name="submit_forward" value={{"reviewSubmit" + recipe[0][0][0]}}>Submit</button>
                </div>
        </div>
    </form>

</body>
</html>
