<!doctype html>


<html>
<head>
    <link rel = "stylesheet"
          type = "text/css"
          href = "{{url_for('static', filename='main.css')}}" />
</head>
<div id="Global_Header">
    <img src="{{url_for('static', filename='db_logo.png')}}" />
    <form action='/' method="post" id="Back_Button">
        <button id="Go_Home_Button" name="submit_forward" value="home">Go Back</button>
    </form>
</div>

        <form action='/' method="post">
            <div class="large-block" id="Form_Wrapper" style="display: flex; padding-left: calc(50% - 208px);">
                <div class="small-block">
                    <button id="addRecipeButton" name="submit_forward" value="add">Add Recipe</button>
                </div>
                <div class="small-block">
                    <button id="Recipe_Search_Button" name="submit_forward" value="search">Search</button>
                </div>
            </div>
        </form>
        <h3 class="centerMe">Recipes</h3>
        <div class="grid-container">
        {% for recipe in recipes %}
            <span class="large-block recipe-item grid-item">
                Name: <span>{{recipe[0].capitalize()}}</span><br/>
                Difficulty: <span>{{recipe[2]}}</span>
                <div class="row">&nbsp;</div>
                <div style="align-content: center; display: flex;">
                    <form action='/' method="post">
                        <button class="small-button" id="Recipe_Details_Button"
                                name="submit_forward" value={{recipe[0]+"open"}}>Open</button>
                        <div style="padding-right: 10px;">&nbsp;</div>
                         <button class="small-button" id="Recipe_Delete_Button"
                                 name="submit_forward" value={{recipe[0]+"delete"}}>Delete</button>
                    </form>
                </div>
            </span>

        {% endfor %}
        </div>
    </body>
</html>
