<!doctype html>

<html>
<head>
    <link rel = "stylesheet"
          type = "text/css"
          href = "{{url_for('static', filename='main.css')}}" />
</head>
<div id="Global_Header">
    <img src="{{url_for('static', filename='db_logo.png')}}" />
    <form action='/' method="post" id="Back_Button">
        <button id="Go_Home_Button" name="submit_forward" value="home">Go Back</button>
    </form>
</div>
<body>
<form action='/' method="post">
    <div class="large-block" id="Form_Wrapper">
        <div id="Recipe_Search_Name_Wrapper" class="small-block">
            <label for="Recipe_Search">Search by Name: </label>
            <input id="Recipe_Search" name="searchRecipeName">
        </div>
        <div class="row">&nbsp;</div>
        <div id="Recipe_Search_Difficulty_Wrapper" class="small-block">
            <label for="Recipe_Difficulty">Search Max Difficulty: </label>
            <select id="Recipe_Difficulty" name="searchRecipeDifficulty">
                <option disabled selected> -- Select a Difficulty -- </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="row">&nbsp;</div>
        <fieldset>
            <legend>Recipe Must Contain: </legend>
            <div id="Protein_Search_Wrapper" class="small-block">
                <label for="Protein_Search">Protein: </label>
                <select id="Protein_Search" name="searchRecipeProtein">
                    <option value="none" selected>Whatever</option>
                    <option value="steak">Steak</option>
                    <option value="chicken">Chicken</option>
                    <option value="fish">Fish</option>
                    <option value="pork">Pork</option>
                </select>
            </div>
            <div class="row">&nbsp;</div>
            <div id="Vegetable_Search_Wrapper" class="small-block">
                <label for="Vegetable_Search">Vegetable: </label>
                <select id="Vegetable_Search" name="searchRecipeVegetable">
                    <option value="none" selected>Whatever</option>
                    <option value="corn">Corn</option>
                    <option value="potato">Potato</option>
                    <option value="onion">Onion</option>
                    <option value="celery">Celery</option>
                    <option value="carrot">Carrot</option>
                </select>
            </div>
            <div class="row">&nbsp;</div>
            <div id="Starch_Search_Wrapper" class="small-block">
                <label for="Starch_Search">Starch: </label>
                <select id="Starch_Search" name="searchRecipeStarch">
                    <option value="none" selected>Whatever</option>
                    <option value="brown_rice">Brown Rice</option>
                    <option value="white_rice">White Rice</option>
                    <option value="pasta">Pasta</option>
                    <option value="bread">Bread</option>
                </select>
            </div>
        </fieldset>
        <div class="row">&nbsp;</div>
        <fieldset>
            <legend>Please Select Which Equipment You <strong>Do Not</strong> Have</legend>
            <label for="Has_Blender"><input id="Has_Blender" value="blender" type="checkbox"  name="searchRecipeEquipment" >Blender</label>
            <label for="Has_Mixer"><input id="Has_Mixer" type="checkbox"  name="searchRecipeEquipment">Mixer</label>
            <label for="Has_Stove"><input id="Has_Stove" type="checkbox"  name="searchRecipeEquipment">Stove</label>
            <label for="Has_Microwave"><input id="Has_Microwave" type="checkbox"  name="searchRecipeEquipment">Microwave</label>
            <label for="Has_Oven"><input id="Has_Oven" type="checkbox"  name="searchRecipeEquipment">Oven</label>
        </fieldset>
        <div class="row">&nbsp;</div>
        <label for="Is_Vegetarian"><input id="Is_Vegetarian" type="checkbox" name="searchRecipeVegetarian">Vegetarian</label>
        <div class="row">&nbsp;</div>
        <div class="small-block">
            <button id="Recipe_Search_Button" name="submit_forward" value="searchSubmit">Search</button>
        </div>
    </div>
</form>
</body>
</html>
