<!doctype html>

<html>
<head>
    <link rel = "stylesheet"
          type = "text/css"
          href = "{{url_for('static', filename='main.css')}}" />
</head>
<div id="Global_Header">
    <img src="{{url_for('static', filename='db_logo.png')}}" />
    <form action='/' method="post" id="Back_Button">
        <button id="Go_Home_Button" name="submit_forward" value="home">Go Back</button>
    </form>
</div>
<body>
<form action='/' method="post">
    <div class="large-block" id="Form_Wrapper">
        <div id="Recipe_Search_Wrapper" class="small-block">
            <label for="Recipe_Search">Search: </label>
            <input id="Recipe_Search" name="searchRecipe">
        </div>
        <div class="small-block">
            <button id="Recipe_Search_Button" name="submit_forward" value="searchSubmit"> -- Search -- </button>
        </div>
    </div>
</form>
</body>
</html>
